llama-index-core
llama-index-readers-file
llama-index-utils-workflow
llama-index-embeddings-nvidia
llama-index-llms-nvidia
nemoguardrails
langchain-nvidia-ai-endpoints==0.2.2
python-dotenv
reportlab
PyMuPDF
moviepy
gtts
nest_asyncio
